* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/210012/pexels-photo-210012.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* navbar */
nav {
  /* height: 80px; */
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}
nav .logo {
  font-size: 32px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav .navbar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.navbar a {
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 2.5px 10px;
  font-weight: bold;
}
nav .search_bar {
  background-color: white;
  padding: 10px 20px;
  border-radius: 50px;
}
nav .search_bar input::placeholder {
  font-size: 16px;
}
nav .search_bar input {
  outline: none;
  padding: 10px 5px;
  border-radius: 6px;
  border: none;
  font-size: 1.125rem;
}
nav .search_bar button {
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 6px;
  color: white;
  background-color: rgb(12, 12, 203);
  outline: none;
  border: none;
  font-size: 16px;
}
.container.home {
  display: flex;
  color: white;
}
/* home style */
.container .home {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #00000044;
  font-size: 28px;
  padding: 80px;
  width: 50%;
}

.container .home p {
  padding-top: 1.5rem;
}
.container .home button {
  padding: 10px 20px;
  margin: 0 auto;
  margin-top: 40px;
  color: white;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.125rem;
  cursor: pointer;
  background-color: rgb(12, 12, 203);
}
/* About style */
.container .about {
  padding: 20px 80px;
  color: white;
}

.container .about h1 {
  text-transform: uppercase;
  font-weight: 700;
}

.container .about p {
  margin-top: 10px;
  padding: 5px;
  font-size: 1.125rem;
  background-color: #00000044;
}
.about .team {
  margin-top: 40px;
  background-color: #00000011;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .team h2 {
  font-size: 38px;
  text-transform: capitalize;
}
.team .team_member {
  background-color: #00000066;
  /* border: 1px solid; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.team .team_member .name {
  font-size: 18px;
  background-color: #00000022;
}
.team .team_member button {
  width: 100%;
  background-color: rgb(12, 12, 203);
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  color: white;
}
/* Contact us */
.contact_us {
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 40px;
}
.contact_us > div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
}
.contact_us > div h1 {
  font-size: 42px;
  text-transform: uppercase;
}
.contact_us form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #00000022;
  padding: 20px;
}
.contact_us form label {
  display: block;
}
.contact_us form input {
  padding: 5px 10px;
  width: 100%;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  outline: none;
  border-radius: 6px;
  margin-top: 5px;
}
.contact_us form textarea {
  padding: 5px 10px;
  width: 100%;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  outline: none;
  border-radius: 6px;
  margin-top: 5px;
}
.contact_us form button {
  background-color: rgb(12, 12, 203);
  font-size: 16px;
  padding: 10px 0px;
  color: white;
  outline: none;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
}

/* search_contents */
.search_contents {
  padding: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  height: 100vh;
}
.search_contents .not_found,
.search_contents .time {
  background-color: rgb(12, 12, 203);
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  border: 1px solid #fff;
  border-radius: 6px;
}
.search_contents .content {
  padding: 20px;
  background-color: #00000022;
  border: 1px solid #fff;
  border-radius: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search_contents .content > img {
  display: block;
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}
.search_contents .content > .name {
  text-transform: capitalize;
}
.search_contents .content > .description {
  color: #ffffffaa;
}
.search_contents .content > button {
  margin-right: auto;
  padding: 10px 20px;
  border: 0.5px solid #fff;
  background-color: rgb(12, 12, 203);
  border-radius: 6px;
  outline: none;
  color: #fff;
  cursor: pointer;
}
